body { 
	background-image: url(https://images3.alphacoders.com/108/108105.jpg);
	background-position: center;
	background-attachment: fixed; 
	background-repeat: repeat-x;
	background-color: black; 
	background-blend-mode: normal;}

#banner { 
	display: block;
	margin: auto;
	border-style: solid;
	border-color: red }

nav {  
	color: white; 
	border-style: solid; border-color: white; width: 20%; height: 37%;
	background-color: rgba(0, 0, 0, 0.5);}

#spek {
	float: right;
	border-style: solid; border-color: white; }

#vul {
	float: right ;
	border-style: solid; border-color: white;
	width: 46.7%; height: 37% ;
	margin: 0;
	text-align:center; 
	background-color: rgba(0, 0, 0, 0.5);
	color: white
	}

p {
	color: white;
	margin: 25px 50px ; }

article {
	content: 0px 50% 0px 10%; 
	padding: 10px 20px 20px 25px; 
	border-style: solid; border-color: white; width: 25%;
	margin: 25px 25px 25px 200px; 
	background-color: rgba(0, 0, 0, 0.5);
	text-align: left; }

section {
	float: right; 
	border-style: solid; border-color: white; 
	position: relative; 
	background-color: rgba(0, 0, 0, 0.5);
	overflow-y: scroll;
	width: 99.5%;
	height: 60%;
	color: white; }

div { 
	align-content: center; }

h2 {
	margin: 25px 50px;}

a { 
	color: white }

div.box1 {  
	position: relative;
	height: 350px;
	width: auto;
	margin: 30px 200px 0px 200px;
	border-style: solid; border-color: #ffffff; }

footer {margin-top: 100px}