body { 
	background-image: url(https://images3.alphacoders.com/108/108105.jpg);
	background-position: center;
	background-attachment: fixed; 
	background-repeat: repeat-x;
	background-color: black; 
	background-blend-mode: normal;}

#banner { 
	display: block;
	margin: auto;
	border-style: solid;
	border-color: red }

nav {  
	color: white; 
	margin: 25px 100px ;}

p {
	color: white;
	margin: 25px 50px ; }

article {float: left; 
	content: 0px 50% 0px 10%; 
	padding: 10px 25px 20px 25px; 
	border-style: solid; border-color: white; width: 20%;
	margin: 25px 25px 25px 100px }

